@function taskSvg($color, $extra) {
	$svg: '<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">' +
			'<path d="M100,0L100,100L0,100L0,0L100,0ZM90,10L10,10L10,90L90,90L90,10Z" fill="#color"/>' +
			$extra +
		'</svg>';
	$svg: str-replace($svg, '#color', $color);
	$svg: str-replace($svg, '#', '%23');
	@return url('data:image/svg+xml;utf8,' + $svg);
}

li.md-task {
	list-style-type: none;
	&:before {
		margin-left: -2.5em;
	}
}
.md-task:before {
	content: "";
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	position: relative;
	top: 0.2em;
	margin-right: 0.8em;
	background-image: taskSvg($body-color, '');
}
.md-task.done {
	color: $gray-400;
	&:before {
		background-image: taskSvg($gray-400, '<rect x="20" y="20" width="60" height="60" fill="#color"/>');
	}
}
.md-task.test:before {
	background-image: taskSvg($primary, '<path d="M54.051,65.38l-10.164,0l0,-7.037c0,-2.363 0.478,-4.222 1.434,-5.577c0.955,-1.355 3.049,-3.284 6.28,-5.786c4.935,-3.788 7.402,-7.801 7.402,-12.04c0,-3.197 -0.964,-5.734 -2.893,-7.61c-1.928,-1.877 -4.439,-2.815 -7.532,-2.815c-7.158,0 -11.38,4.952 -12.666,14.855l-11.363,-2.033c0.695,-7.401 3.432,-13.213 8.21,-17.435c4.778,-4.222 10.503,-6.333 17.175,-6.333c6.637,0 12.127,1.972 16.471,5.916c4.343,3.944 6.515,8.852 6.515,14.725c0,2.919 -0.599,5.69 -1.798,8.313c-1.199,2.624 -2.563,4.657 -4.092,6.099c-1.529,1.442 -4.761,3.97 -9.695,7.584c-1.39,1.008 -2.276,1.989 -2.658,2.945c-0.382,0.955 -0.591,3.032 -0.626,6.229Zm2.085,7.401l0,13.031l-12.249,0l0,-13.031l12.249,0Z" style="fill-rule:nonzero;" fill="#color"/>');
}
.md-task.warn:before {
	background-image: taskSvg($danger, '<rect x="42.5" y="15" width="15" height="50" fill="#color"/><rect x="42.5" y="70" width="15" height="15" fill="#color"/>');
}