$font-family-sans-serif: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
$table-cell-padding: 10px;
$transition-duration: .2s;

$green: #9ACD32;
$orange: #ED7648;
$theme-colors: (
	"primary": $primary
);

// Bootstraps'
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$grid-breakpoints: map-merge($grid-breakpoints, (xl: 1300px));
$dark-opacity: rgba(theme-color("dark"), .04);
$table-accent-bg: $dark-opacity;
