// Bootstrap
@import "variables";
@import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";

// Highlight js
@import "~highlight.js/styles/default.css";
@import "~highlight.js/styles/routeros.css";
.hljs {
	border-radius: 3px;
	
	&.inline {
		padding: 0.2em 0.4em;
		display: inline;
		font-size: 90%;
	}
}

//@import "transitions";
@import "menu";
@import "md-tasks";

// Full height body
html, body {
	height: 100%;
}

// Even smaller buttons than btn-sm
.btn-xs {
	padding: 0 0.5rem;
}

// Hand cursor on button
.btn, a {
	cursor: pointer;
	&[disabled] {
		cursor: default;
	}
}

// Vertical + horizontal center wrapper
.center-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Scrollbar style
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .1);
}

hr {
	border: none;
	border-top: 3px solid $primary;
	width: 5em;
	margin: 2.5em 0;
}

blockquote {
	padding-left: 1em;
	border-left: 4px solid $primary;
	font-style: italic;
}
.table th, .table td {
	border: none !important;
}

// Headings
.content {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 1em;
		&:before {
			color: $primary;
			display: inline-block;
			content: "#";
			padding-right: 0.3em;
		}
	}
}

img {
	vertical-align: text-top;
}

.fill-primary {
	fill: $primary;
}